.feature {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	background-color: transparent;
	padding: $spacing-scale-12;
	box-shadow: 0 0 0 1px rgba(#fff, .3);

	&__flag {
		position: absolute;
		top: 3.4rem;
		right: 0;
		font-size: $font-size-xmedium;
		color: #fff;
		background-color: $color-primary;
		padding: $spacing-scale-2 $spacing-scale-7;
		border-top-left-radius: 10rem;
		border-bottom-left-radius: 10rem;
	}

	&__icon-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		width: 12.4rem;
		height: 12.4rem;
		margin-top: $spacing-scale-15;
		margin-bottom: $spacing-scale-12;
		border-radius: 50%;
	}

	&__title {
		line-height: 1.2;
	}

	&__text {
		line-height: 1.2;
		margin-bottom: 0;
	}

	&__link {
		&,
		&:visited {
			position: relative;
			color: inherit;
			text-decoration: none;
			letter-spacing: .4px;
			margin-top: $spacing-scale-6;
			transition: color .2s;
		}

		&::after {
			position: absolute;
			content: "";
			bottom: 0;
			left: 0;
			height: 1px;
			width: 100%;
			background-color: currentColor;
		}

		&:hover,
		&:focus {
			color: $color-primary;
		}
	}
}
