.social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000;
	width: 3.2rem;
	height: 3.2rem;
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(#000, .2);
	transition: all .2s;

	&:hover {
		box-shadow: 0 0 0 2px $color-primary-dark;
	}

	&__icon {
		width: 16px;
	}
}
