.landing {
	background-color: $body-bg-color-dark;
	color: $body-color-light;

	&__header {
		display: block;
		background-image: linear-gradient(to bottom, rgba(#000, .50), $body-bg-color-dark),
			url('../../assets/images/bg.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top 50% left 50%;
		min-height: 80vh;
		padding-bottom: 6.5rem;
	}

	&__bottom-bg {
		background-image: linear-gradient(
				to bottom,
				$body-bg-color-dark,
				50%,
				rgba(#000, .70),
				80%,
				$body-bg-color-dark
			),
			url('../../assets/images/bg.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top 0% left 50%;
	}

	&__nav {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-between;
		padding: $spacing-scale-14 0;

		&-links {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			margin-left: auto;

			& > *:not(:last-child) {
				margin-right: $spacing-scale-12;
			}

			@include media-breakpoint-down("lg") {
				display: none;
			}
		}

		&-link {
			font-size: $font-size-xmedium;
			font-weight: 400;
			line-height: 1.6;

			.link__icon {
				display: block;
				width: 20px;
			}

			.coming-soon {
				width: auto;
				margin-right: 0;
			}
		}
	}

	&__header-logo {
		width: 112px;
		height: 104px;
	}

	&__header-content {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;

		&-body {
			flex: 1;
		}

		&-picture {
			margin-left: 6rem;

			@include media-breakpoint-down("lg") {
				display: none;
				margin: 0;
			}
		}
	}

	&__header-ad {
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		font-size: 7.2rem;
		font-weight: 500;
		text-align: center;
		background-color: #000;
		padding: 0 $spacing-scale-10;
		border: 1px solid #fff;
		width: 100%;
		min-height: 47rem;
		margin-top: 6rem;
		opacity: .3;
	}

	&__title {
		line-height: 1.2;
		margin-bottom: $spacing-scale-8;
	}

	&__desc {
		font-size: 2.4rem;
		line-height: 1.2;
		max-width: 50rem;
	}

	&__search {
		position: relative;
		font-size: 1.8rem;
		font-weight: 500;
		margin-top: 4rem;

		.search-input {
			&__icon {
				margin-left: $spacing-scale-15;
			}
			&__el {
				padding: $spacing-scale-10;
				padding-left: $spacing-scale-6;
			}
		}

		.coming-soon {
			position: absolute;
			top: 50%;
			right: -4rem;
			width: 16.6rem;
			transform: translate3d(0, -50%, 0);

			@include media-breakpoint-down("lg") {
				right: -2rem;
			}
		}
	}

	&__clocks-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(10rem, 12rem));
		row-gap: $spacing-scale-12;
		margin-top: 6rem;
	}

	&__section {
		padding: 6.5rem 0;

		&--contact-us {
			background-color: $color-primary-dark;
			padding: 5.2rem 7.2rem;
			margin: 6.5rem 0;

			.page-section__subtitle {
				margin-bottom: $spacing-scale-16;
			}

			.page-section__title {
				max-width: 70%;

				@include media-breakpoint-down('lg') {
					max-width: 100%;
				}
			}

			.page-section__header {
				padding-bottom: $spacing-scale-2;
			}

			.page-section__body {
				display: flex;
				flex-flow: row wrap;
				align-items: flex-end;
				justify-content: space-between;

				@include media-breakpoint-down("sm2") {
					flex-flow: column wrap;
					align-items: center;

					& > *:first-child {
						margin-bottom: 6.5rem;
					}
				}
			}

			.link {
				font-size: $font-size-xlarge;
				font-weight: 600;
				line-height: 1.2;
				color: #000;
				background-color: #fff;
				border-color: #fff;
				padding: $spacing-scale-8 $spacing-scale-20;

				&:hover {
					background-color: rgba(#fff, .85);
				}
			}
		}
	}

	&__features-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
		grid-gap: $spacing-scale-12;

		@include media-breakpoint-down("lg") {
			grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
		}
	}

	&__footer {
		padding-top: 3.2rem;
	}
}
